@model GameMVC

<form method="post" asp-action="AddToFavorite" asp-controller="Game">
    <section>
        <h2>@Model.GameName</h2>
        <ul>
            <li>
                <a href="#"><img src="@Model.Img" width="500" height="500" /></a>
                <p>@Model.GameGenre</p>
                <p>@Model.ReleaseDate</p>
                <h4><a href="~/Game/Update/@Model.Id">Изменить</a></h4>
                <input type="text" name="name" value="@Model.GameName" hidden />
                <button class="btn btn-primary stretched-link">Добавить в избранное</button>
            </li>
        </ul>
    </section>
</form>
